@font-face {
  font-family: "gilroy-bold";
  src: url("~/assets/fonts/Gilroy-ExtraBold.otf") format("opentype");
  font-display: swap;
  font-weight: 100 900;
}
@font-face {
  font-family: "gilroy-light";
  src: url("~/assets/fonts/Gilroy-Light.otf") format("opentype");
  font-display: swap;
  font-weight: 100 900;
}
